.App-header {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: 30%;
  font-size: calc(20px );
  text-align: left;
  font-family: "sans-serif";
  background-repeat: no-repeat;
  position: relative;
}
.App{
  margin: 0;
  background-color: rgb( 238, 213, 191);

}
.App-mobile-header {
    min-height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.navigation {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color :rgb( 238, 213, 191);


}
.header-text{
  display: inline-block;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration-line: none;
  text-decoration-color: black;


}
.header-text-min{
  display: inline-block;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration-line: none;
  text-decoration-color: black;
  font-family: "sans-serif";
}

body{ 
  width: 100%;
 }

.About_us{
  height: 500px;
  background-color: rgb( 238, 213, 191); /* For browsers that do not support gradients */
  background-image: linear-gradient( rgb( 238, 213, 191), white );
}

/* either 4x1 or 2x2 */
/* if 2x2 margin margin horizontal should be margin vertical */

.About_Us_Card_Listing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.About_Us_Card {
  border: 0.01rem solid;
  border-radius: 3px;
  text-align: center;
  width: 20%;
  min-width: 150px;
  max-width: 200px;
  margin-bottom: 10px;
}

.nav_elements{
  font-family: "Century Gothic";
  font-size: 2.7rem;
  color: 000;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  }
.about_us_paragragh{
  text-align: center;
}