.App-header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: 30%;
  font-size: calc(20px );
  text-align: left;
  font-family: "sans-serif";
  background-image: url("Image/Background.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.App-mobile-header {
    min-height: 55vh;
    background-position: center;
    background-image: url("Image/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.navigation {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: cyan;


}
.header-text{
  display: inline-block;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;


}

body{ 
  width: 100%;
 }
.nav_elements{
  font-family: "sans-serif";
  color: 000;
  text-align: center;
  }
